* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgba(17, 56, 87, 1);
  --secondry-color: #2fcdc0;
  --primary-white-color: #fff;
  --gray-color: #f3f3f3;
  --dark-gray-color: #c4c4c2;
  --gray-text-color: #8f8e8e;

  --rounded-sm: 0.5rem;
}
@font-face {
  font-family: "Lato-thine";
  src: url("../fonts/Lato-Thin.ttf");
}
@font-face {
  font-family: "Lato-Light";
  src: url("../fonts/Lato-Light.ttf");
}
@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: "Lato-Bold";
  src: url("../fonts/Lato-Bold.ttf");
}
@font-face {
  font-family: "Lato-Black";
  src: url("../fonts/Lato-Black.ttf");
}

@font-face {
  font-family: "Sans-Light";
  src: url("../fonts/TheSansArab-Light.ttf");
}
@font-face {
  font-family: "Sans-Regular";
  src: url("../fonts/TheSansArab-Plain.ttf");
}
@font-face {
  font-family: "Sans-Bold";
  src: url("../fonts/TheSansArab-Bold.ttf");
}

p {
  font-family: Lato-Regular;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: Lato-Bold;
  color: rgba(17, 56, 87, 1);
}

.arabic-version p {
  font-family: Sans-Regular;
}
.arabic-version h1,
.arabic-version h2,
.arabic-version h3,
.arabic-version h4,
.arabic-version h5 {
  font-family: Sans-Bold;
}

@media (min-width: 1600px) {
  .container {
    max-width: 1520px;
  }
}
@media (min-width: 1800px) {
  .container {
    max-width: 1620px;
  }
}

input.empty {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

/* For IE10 */
select::-ms-expand {
  display: none;
}
.arabic-version {
  direction: rtl;
}

/* ============================================================ */
/* ============================================================ */
/* ============================================================ */
/* ============================================================ */
/* ============================================================ */
.New-Home-1st-section{
  background-image: url(../Assets/Img/Header.png);
  height: 100vh;
}
#New-Home .New-Home-2nd-section-container{
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1.2fr;
  align-items: center;
  margin-top: 8rem;
  margin-bottom: 3rem;
  gap: 40px;
}
#New-Home .New-Home-2nd-section-container p {
  font-size: 2rem;
  font-weight: 800;
  line-height: 3.5rem;
  text-align: justify;
}
#New-Home .New-Home-2nd-section-container img {
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 100%;
  align-self: baseline;
}
.New-Home-2nd-section-container::before,
.New-Home-2nd-section-container::after {
    content: none;
    display: none; 
}

@media (max-width:767px) {
  #New-Home .New-Home-2nd-section-container{
    grid-template-columns: 2fr;
  }
}


/* last section  */

.New-Home-last-section{
  margin-top: 6rem;
  background-image: url(../Assets/Img/BG.png);
  padding-top: 4rem;
}
.New-Home-last-section h2{
  text-align: center;
  color: #fff;
  font-size: 3rem !important;
  margin-bottom: 3rem;
}
.New-Home-last-section-squad{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-bottom: 3rem ;
}
.New-Home-last-section-squad::before,
.New-Home-last-section-squad::after {
    content: none;
    display: none; 
}
.New-Home-last-section-squad-column{
  display: flex;
  flex-direction: column;
 
}
.New-Home-last-section-squad-column img{
  flex-grow: 0;
}
@media (max-width:1450px){
  .New-Home-last-section-squad-column img {
    height: 200px;
  }
}

@media (max-width:1200px){
  .New-Home-last-section-squad-column img {
    height: 150px;
  }
}
@media (max-width:990px){
  .New-Home-last-section-squad-column img {
    height: 130px !important;
    width: fit-content;
    align-self: center;
  }
}
@media (max-width:767px) {
  .New-Home-last-section-squad{
   
    grid-template-columns: 1fr 1fr ;
    
  }
  .New-Home-last-section-squad-column img {
    height: unset;
   
  }
}

@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}
.New-Home-last-section-squad-column {
  overflow: hidden;
}
.New-Home-last-section-squad-coach  {
  display: flex;
}
.New-Home-last-section-squad-coach img {
  margin: auto;
  
}
@media (max-width:500px){
  .New-Home-last-section-squad-coach img {
   height: 200px;
  }
}
