* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgba(17, 56, 87, 1);
  --secondry-color: #2fcdc0;
  --primary-white-color: #fff;
  --gray-color: #f3f3f3;
  --dark-gray-color: #c4c4c2;
  --gray-text-color: #8f8e8e;

  --rounded-sm: 0.5rem;
}
@font-face {
  font-family: "Lato-thine";
  src: url("../fonts/Lato-Thin.ttf");
}
@font-face {
  font-family: "Lato-Light";
  src: url("../fonts/Lato-Light.ttf");
}
@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: "Lato-Bold";
  src: url("../fonts/Lato-Bold.ttf");
}
@font-face {
  font-family: "Lato-Black";
  src: url("../fonts/Lato-Black.ttf");
}

@font-face {
  font-family: "Sans-Light";
  src: url("../fonts/TheSansArab-Light.ttf");
}
@font-face {
  font-family: "Sans-Regular";
  src: url("../fonts/TheSansArab-Plain.ttf");
}
@font-face {
  font-family: "Sans-Bold";
  src: url("../fonts/TheSansArab-Bold.ttf");
}

p {
  font-family: Lato-Regular;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: Lato-Bold;
  color: rgba(17, 56, 87, 1);
}

.arabic-version p {
  font-family: Sans-Regular;
}
.arabic-version h1,
.arabic-version h2,
.arabic-version h3,
.arabic-version h4,
.arabic-version h5 {
  font-family: Sans-Bold;
}

@media (min-width: 1600px) {
  .container {
    max-width: 1520px;
  }
}
@media (min-width: 1800px) {
  .container {
    max-width: 1620px;
  }
}

input.empty {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

/* For IE10 */
select::-ms-expand {
  display: none;
}
.arabic-version {
  direction: rtl;
}

/* ============================================================ */
/* ============================================================ */
/* ============================================================ */
/* ============================================================ */
/* ============================================================ */
