* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgba(17, 56, 87, 1);
  --secondry-color: #2fcdc0;
  --primary-white-color: #fff;
  --gray-color: #f3f3f3;
  --dark-gray-color: #c4c4c2;
  --gray-text-color: #8f8e8e;

  --rounded-sm: 0.5rem;
}
@font-face {
  font-family: "NeoSans-Light";
  src: url("../fonts/NeoSansArabicLight.ttf");
}

@font-face {
  font-family: "NeoSans-Regular";
  src: url("../fonts/Neo\ Sans\ Arabic\ Regular.ttf");
}
@font-face {
  font-family: "NeoSans-Medium";
  src: url("../fonts/NeoSansArabicMedium.ttf");
}
@font-face {
  font-family: "NeoSans-Bold";
  src: url("../fonts/NeoSansArabicBold.ttf");
}
@font-face {
  font-family: "NeoSans-Black";
  src: url("../fonts/NeoSansArabicBlack.ttf");
}


p {
  font-family: NeoSans-Regular;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: NeoSans-Bold;
  color: rgba(17, 56, 87, 1);
}

.arabic-version p {
  font-family: Sans-Regular;
}
.arabic-version h1,
.arabic-version h2,
.arabic-version h3,
.arabic-version h4,
.arabic-version h5 {
  font-family: Sans-Bold;
}

@media (min-width: 1600px) {
  .container {
    max-width: 1520px;
  }
}
@media (min-width: 1800px) {
  .container {
    max-width: 1620px;
  }
}

input.empty {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

/* For IE10 */
select::-ms-expand {
  display: none;
}
.arabic-version {
  direction: rtl;
}

/* ============================================================ */
/* ============================================================ */
/* ============================================================ */
/* ============================================================ */
/* ============================================================ */
.New-Home-1st-section img {
  /* background-image: url(../Assets/Img/1.jpg);
  background-repeat: no-repeat;
  height: 100vh; */
  width: 100%;
}
#New-Home .New-Home-2nd-section-container {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  margin-top: 8rem;
  margin-bottom: 3rem;
  gap: 40px;
}
#New-Home .New-Home-2nd-section-container p {
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 3.5rem;
  text-align: justify;
}
#New-Home .New-Home-2nd-section-container img {
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 100%;
  align-self: baseline;
}
.New-Home-2nd-section-container::before,
.New-Home-2nd-section-container::after {
  content: none;
  display: none;
}

@media (max-width: 767px) {
  #New-Home .New-Home-2nd-section-container {
    grid-template-columns: 2fr;
  }
}

/* last section  */

.New-Home-last-section {
  margin-top: 6rem;
  background-image: url(../Assets/Img/BG.png);
  padding-top: 4rem;
}
.New-Home-last-section h2 {
  text-align: center;
  color: #fff;
  font-size: 3rem !important;
  margin-bottom: 3rem;
}
.New-Home-last-section-squad {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-bottom: 3rem;
}
.New-Home-last-section-squad::before,
.New-Home-last-section-squad::after {
  content: none;
  display: none;
}
.New-Home-last-section-squad-column {
  display: flex;
  flex-direction: column;
}
.New-Home-last-section-squad-column img {
  flex-grow: 0;
}
@media (max-width: 1450px) {
  .New-Home-last-section-squad-column img {
    height: 200px;
  }
}

@media (max-width: 1200px) {
  .New-Home-last-section-squad-column img {
    height: 150px;
  }
}
@media (max-width: 990px) {
  .New-Home-last-section-squad-column img {
    height: 130px !important;
    width: fit-content;
    align-self: center;
  }
}
@media (max-width: 767px) {
  .New-Home-last-section-squad {
    grid-template-columns: 1fr 1fr;
  }
  .New-Home-last-section-squad-column img {
    height: unset;
  }
  .New-Home-last-section-squad-column img {
    height: 220px !important;

  }
}
@media (max-width: 400px) {
 
  .New-Home-last-section-squad-column img {
    height: 200px !important;

  }
}

@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}
.New-Home-last-section-squad-column {
  overflow: hidden;
}
.New-Home-last-section-squad-coach {
  display: flex;
}
.New-Home-last-section-squad-coach img {
  margin: auto;
}
@media (max-width: 500px) {
  .New-Home-last-section-squad-coach img {
    height: 200px;
  }
}

.New-Home-middle-section {
  padding: 2rem;
}

.New-Home-middle-section {
  position: relative;
  min-height: 200vh;
  display: grid;
  gap: 2rem;
  width: 100%;

  grid-template-rows: 100px 1fr 100px;
  flex-direction: column;
  justify-content: space-between;
}
.New-Home-middle-section::before {
  display: none;
}
.New-Home-middle-section span {
  left: 50%;
  top: 120px;
  position: absolute;
  background: #000;
  content: "";
  width: 1px;
  height: 86%;
}
.New-Home-star-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.New-Home-middle-section .single-card {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.New-Home-middle-section .single-card img {
  width: 100%;
}
.New-Home-middle-section .single-card div {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
}
.New-Home-middle-section .single-card span {
  width: 3rem;
  align-self: center;
  position: unset;
  border-radius: 100%;
  z-index: 5;
  /* position: absolute; */
  /* content: ""; */
  height: 3rem;
  aspect-ratio: 1;
  background: #e81e25;
  transition: all 1s ease-out;
}
.New-Home-middle-section .single-card div h4 {
  font-size: 2.5rem !important;
  color: #e81e25;
  font-family: "NeoSans-Medium";
  padding-bottom: 1rem;
}
.New-Home-middle-section .single-card div p {
  font-size: 1.75rem !important;
  line-height: 1.8;
  font-family: "NeoSans-Medium";
  text-align: justify;
}
.New-Home-middle-section .main-cards {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}
.New-Home-middle-section .main-cards .single-card:nth-child(even) {
  flex-direction: row-reverse;
}

@keyframes timeline-circle-animation {
  0% {
    opacity: 0;
    transform: translateY(300%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.timeline-circle-animation {
  -webkit-animation-name: timeline-circle-animation;
  animation-name: timeline-circle-animation;
}
@keyframes timeline-slideInRight-animation {
  0% {
    opacity: 0;
    transform: translateX(-30%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
.timeline-slideInRight-animation {
  -webkit-animation-name: timeline-slideInRight-animation;
  animation-name: timeline-slideInRight-animation;
}

@keyframes timeline-slideInRight-animation-delayed {
  0% {
    opacity: 0;
    transform: translate(-40%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
.timeline-slideInRight-animation-delayed {
  -webkit-animation-name: timeline-slideInRight-animation-delayed;
  animation-name: timeline-slideInRight-animation-delayed;
}

.New-Home-middle-section .main-cards .single-card:nth-child(even) {
  flex-direction: row-reverse;
}
.New-Home-middle-section .main-cards .single-card:nth-child(even) h4 {
  -webkit-animation-name: timeline-slideInLight-animation;
  animation-name: timeline-slideInLight-animation;
}
.New-Home-middle-section .main-cards .single-card:nth-child(even) p {
  -webkit-animation-name: timeline-slideInLeft-animation-delayed;
  animation-name: timeline-slideInLeft-animation-delayed;
}

.New-Home-middle-section .main-cards .single-card:nth-child(even) .slideInLeftAnimation {
  -webkit-animation-name: slideInLeftAnimation;
  animation-name: slideInLeftAnimation;

}
.New-Home-middle-section .single-card .slideInRightAnimation{
  -webkit-animation-name: slideInRightAnimation;
  animation-name: slideInRightAnimation;

}

@keyframes slideInLeftAnimation {
  0% {
    opacity: 0;
    transform: translateX(-40%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes slideInRightAnimation {
  0% {
    opacity: 0;
    transform: translateX(40%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes timeline-slideInLight-animation {
  0% {
    opacity: 0;
    transform: translateX(30%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes timeline-slideInLeft-animation-delayed {
  0% {
    opacity: 0;
    transform: translateX(40%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
